.password-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.password-label {
    font-size: 13px;
    margin-bottom: 6px;
    color: var(--text);
    font-weight: 500;
}

.required {
    color: red;
    margin-left: 4px;
}

.password-input-container {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.2s;
}

.password-input-container:focus-within {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.password-input {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid;
    border-color: var(--border);
    border-radius: 6px 0px 0px 6px;
    outline: none;
    font-size: 14px;
    background-color: var(--background);
}

.toggle-btn {
    background: var(--background);
    color: var(--text);
    border: 1px solid;
    border-radius: 0px 6px 6px 0px;
    border-color: var(--border);
    padding: 10px 12px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border-left: 1px solid var(--border);
}

.toggle-btn:hover {
    background: var(--hover);
}

.password-error {
    border-color: red;
}

.password-error-text {
    font-size: 12px;
    color: red;
    margin-top: 4px;
}